{% extends "layout/wx_base.html" %}
{% block css %}
<title>填写推荐人</title>

<style>
    .wy-address-edit {
        margin-top: 0;
    }
</style>
{% endblock %}
{% block content %}

<div class="weui-content">
    <form action="" method="post" enctype="multipart/form-data" onsubmit="return toVaild()">
        {{xsrf()}}
        <div class="weui-footer weui-footer_fixed-bottom" style="margin: 10rem auto">
            <div style="padding: 10px">
                <h4 style="text-align: center;font-size: 14px"> 送积分规则 </h4>
                <!--<p style="margin-left: 10px;font-size: 12px"><b>1.</b> 只有填写了您绑定微信的正确的手机号后才能获得积分哦。</p>-->
                <p style="margin-left: 10px;font-size: 12px"><b>2.</b> 填写推荐人手机号给您的推荐人也赠送给奖励吧。</p>
            </div>
            <!--<div class="weui-cell">-->
                <!--<div class="weui-cell__hd"><label class="weui-label wy-lab">我的手机号:</label></div>-->
                <!--<div class="weui-cell__bd">-->
                    <!--<input name="mobile" class="weui-input" id="mobile" type="number"-->
                           <!--pattern="[0-9]*" placeholder="" value="">-->
                <!--</div>-->
            <!--</div>-->
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label wy-lab">推荐人手机号:</label></div>
                <div class="weui-cell__bd">
                    <input name="p_mobile" class="weui-input" id="p_mobile" type="number"
                           pattern="[0-9]*" placeholder="" value="">
                </div>
            </div>

            <div class="weui-cell">
            </div>
        </div>

        <div class="weui-footer weui-footer_fixed-bottom" style="margin: 2rem auto">
            <div class="weui-btn-area">
                <input id="address_id" style="display:none" value="">
                <button class="weui-btn weui-btn_primary" type="submit" style="width: 65%">提交</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}
{% block js %}
<script>
    function toVaild() {
        // var mobile = $("#mobile").val();
        // if (!jQuery.isNumeric(mobile)) {
        //     $.toast("请输入手机号", "text");
        //     return false;
        // }
        var p_mobile = $("#p_mobile").val();
        if (!jQuery.isNumeric(p_mobile)) {
            $.toast("请输入推荐人电话", "text");
            return false;
        }
        return true;
    }
</script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
{% endblock %}